<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Учебный центр YourSway</title>
  <link rel="stylesheet" href="/static/stylesheets/base.css" type="text/css" media="screen" />
  <link rel="stylesheet" id="current-theme" href="/static/stylesheets/themes/default/style.css" type="text/css" media="screen" />
  <script type="text/javascript" charset="utf-8" src="/static/javascripts/jquery-1.3.min.js"></script> 
  <script type="text/javascript" charset="utf-8" src="/static/javascripts/jquery.scrollTo.js"></script>   
  <script type="text/javascript" charset="utf-8" src="/static/javascripts/jquery.localscroll.js"></script>
  <script type="text/javascript" charset="utf-8">
    // <![CDATA[
    var Theme = {
      activate: function(name) {
        window.location.hash = 'themes/' + name
        Theme.loadCurrent();
      },
      
      loadCurrent: function() {
        var hash = window.location.hash;
        if (hash.length > 0) {
          matches = hash.match(/^#themes\/([a-z0-9\-_]+)$/);
          if (matches && matches.length > 1) {
            $('#current-theme').attr('href', 'stylesheets/themes/' + matches[1] + '/style.css');
          } else {
            alert('theme not valid');
          }
        }
      }
    }            
    
    $(document).ready(function() {
      Theme.loadCurrent();
      $.localScroll();      
      $('.table :checkbox.toggle').each(function(i, toggle) {
        $(toggle).change(function(e) {
          $(toggle).parents('table:first').find(':checkbox:not(.toggle)').each(function(j, checkbox) {
            checkbox.checked = !checkbox.checked;            
          })          
        });
      });
    });
    // ]]>    
  </script> 
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="index.html">Учебный центр YourSway</a></h1>
      <!-- <div id="user-navigation">
        <ul>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
        <div class="clear"></div>
      </div>       -->
      <div id="main-navigation">
        <ul>
          <li class="first active"><a href="#block-text">Семинары</a></li>
          <li class=""><a href="#block-text">iPhone</a></li>
          <li><a href="#block-login">Google App Engine</a></li>
          <li><a href="#block-signup">Контакты</a></li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>    
    <div id="wrapper">
      <div id="main">
        
        <div class="block" id="block-text">
          <div class="content"> 
            <h2 class="title">Кто мы такие?</h2>
            <div class="inner">
              <p class="first">
                Компания YourSway выполняет разработку программного обеспечения
                с использованием современных технологий для отечественных и зарубежных клиентов
                на протяжении нескольких лет.
              </p>
              <p>
                Известно, что на рынке ПО технологии меняются каждые несколько лет.
                К&nbsp;сожалению, в&nbsp;России практически не&nbsp;существует мест,
                где программистов обучали&nbsp;бы современным, перспективным технологиям&nbsp;—
                тем более, где обучали&nbsp;бы качественно, с&nbsp;любовью к&nbsp;делу
                и&nbsp;на&nbsp;основе практического опыта.
              </p>
              <p>
                <em>Мы взялись исправить эту ситуацию</em> и помочь российским программистам
                воспользоваться тем, что сами применяем каждый день.
                Мы организуем выездные семинары в нескольких городах.
              </p>
            </div>
            
            <h2 class="title">О наших семинарах</h2>
            
            <div class="inner">
              <p>
                Наш девиз — «немного теории и уйма практики».
                Вы увидите живое программирование, куски кода и простые понятные диаграммы.
                Вы также много времени будете работать самостоятельно под руководством
                опытных специалистов, которые ответят на&nbsp;ваши вопросы
                и&nbsp;помогут с&nbsp;идеями.
              </p>
              <p>
                Каждый семинар мы тщательно подготавливаем,
                анализируя собственный опыт и опыт других людей,
                часто возникающие вопросы и сложности.
              </p>
              <p>
                Цель семинаров — максимально просто и коротко передать все важные навыки.
                Мы знаем, что изучение новых технологий не должно требовать месяцев учебы.
              </p>
             <p>
                Мы принимаем заявки на проведение любого из семинаров в вашей компании.
              </p>
            </div>
            
            <h2 class="title">Разработка под iPhone (30–31 мая, Новосибирск)</h2>
            <div class="inner">
              <p class="first">
                30-31 мая в Новосибирском Академгородке пройдёт <em>двухдневный семинар по
                iPhone,</em> организованный фирмой YourSway, занимающейся коммерческой
                разработкой софта под Mac и iPhone.
              </p>
            
              <p>
                Семинар ориентирован на программистов, не знакомых с разработкой под
                iPhone и желающих освоить программирование под эту платформу. 
                По окончании семинара вы овладеете основными навыками и трюками
                и <em>сможете разрабатывать собственные приложения.</em>
              </p>
              
              <p>
                Двухдневный семинар включает в себя <em>6 часов теоретических занятий и 10 часов практических.</em>
                Для практических занятий желательно иметь с собой Macbook.
                Возможна также работа на Windows- или Linux-ноутбуке с VNC-клиентом,
                о чем необходимо предупредлить нас заранее.
              </p>
                
              <p>
                Электричество, Wi-Fi, чай и бутерброды обеспечим.
              </p>
              
              <p>
                Записаться можно <a href="#">на сайте</a>, или звоните с&nbsp;10:00 до&nbsp;23:00:
                +7&nbsp;906&nbsp;193&nbsp;29&nbsp;59&nbsp;Андрей,
                +7&nbsp;923&nbsp;223&nbsp;58&nbsp;91&nbsp;Юрий
              </p>
              
              <p>
                Оплата возможна наличным и безналичным расчетом (без НДС).
              </p>
              
              <p>
                Приведите друга и получите скидку 10%.
                Перепечатайте эту новость у себя в блоге и получите скидку 5%.
                Скидки суммируются.
              </p>
            </div>
            
          </div>
        </div>
        <div id="footer">
          <div class="block">
            <p>Идея, разработка и реализация &copy; 2009, YourSway</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <div class="block">
          <h3>Simple Block</h3>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="block">
          <h3>Switch Theme</h3>
          <ul class="navigation">
            <li><a href="#" onclick="Theme.activate('default'); return false;">Default</a></li>
            <li class="last"><a href="#" onclick="Theme.activate('bec'); return false;">Bec</a></li>
            <li class="last"><a href="#" onclick="Theme.activate('bec-green'); return false;">Bec-Green</a></li>            
            <li><a href="#" onclick="Theme.activate('blue'); return false;">Blue</a></li>
			<li><a href="#" onclick="Theme.activate('djime-cerulean'); return false;">Djime-Cerulean</a></li>
            <li><a href="#" onclick="Theme.activate('reidb-greenish'); return false;">Greenish</a></li>
            <li><a href="#" onclick="Theme.activate('kathleene'); return false;">Kathleene</a></li>  
            <li><a href="#" onclick="Theme.activate('orange'); return false;">Orange</a></li>  
          </ul>          
        </div>
        <div class="block">
          <h3>Sidebar</h3>
          <ul class="navigation">
            <li><a href="#block-text">Text</a></li>
            <li><a href="#block-tables">Tables</a></li>
            <li><a href="#block-forms">Forms</a></li>
            <li><a href="#block-messages">Messages</a></li>
            <li><a href="#block-forms-2">2 Columns Forms</a></li>
            <li><a href="#block-lists">Lists</a></li>
          </ul>
        </div>
        <div class="block notice">
          <h4>Notice Title</h4>
          <p>Morbi posuere urna vitae nunc. Curabitur ultrices, lorem ac aliquam blandit, lectus eros hendrerit eros, at eleifend libero ipsum hendrerit urna. Suspendisse viverra. Morbi ut magna. Praesent id ipsum. Sed feugiat ipsum ut felis. Fusce vitae nibh sed risus commodo pulvinar. Duis ut dolor. Cras ac erat pulvinar tortor porta sodales. Aenean tempor venenatis dolor.</p>
        </div>
        <div class="block">
          <div class="sidebar-block">
            <h4>Sidebar Inner block Title</h4>
            <p>Morbi posuere urna vitae nunc. Curabitur ultrices, lorem ac <a href="#">aliquam blandit</a>, lectus eros hendrerit eros, at eleifend libero ipsum hendrerit urna. Suspendisse viverra. Morbi ut magna. Praesent id ipsum. Sed feugiat ipsum ut felis. Fusce vitae nibh sed risus commodo pulvinar. Duis ut dolor. Cras ac erat pulvinar tortor porta sodales. Aenean tempor venenatis dolor.</p>
          </div>
        </div>
      </div>
      <div class="clear"></div>      
    </div>    
  </div>
</body>
</html>
