{% extends 'base.html' %}
{% block title %}Семинар по iPhone учебного центра YourSway{% endblock %}
{% block body %}
<div class="block" id="block-text">
  <div class="content"> 
    
    <h2 class="title">Разработка под iPhone (30–31 мая, Новосибирск)</h2>
    <div class="inner">
      <p class="first">
        30-31 мая в&nbsp;Новосибирске пройдёт <em>двухдневный семинар
        по&nbsp;iPhone,</em> организованный компанией YourSway,
        занимающейся коммерческой разработкой софта под&nbsp;Mac и&nbsp;iPhone.
      </p>
    
      <p>
        Семинар ориентирован на программистов, не знакомых с разработкой
        под&nbsp;iPhone и&nbsp;желающих освоить программирование под эту платформу. 
        По&nbsp;окончании семинара вы&nbsp;овладеете основными навыками и&nbsp;трюками
        и <em>сможете создавать собственные приложения.</em>
      </p>
      
      <p>
        Двухдневный семинар включает в&nbsp;себя <em>6&nbsp;часов теоретических занятий
        и&nbsp;10&nbsp;часов практических.</em>
        Для практических занятий крайне желательно иметь с&nbsp;собой MacBook.
        Возможна также работа на Windows- или Linux-ноутбуке с VNC-клиентом,
        о чем необходимо предупредить нас заранее.
      </p>
        
      <p>
        Электричество, Wi-Fi, чай и бутерброды обеспечим.
      </p>
      
      <p>
        Подробнее узнать о&nbsp;семинаре, прочесть подробное расписание
        и&nbsp;посмотреть дополнительные материалы можно
        на&nbsp;сайте учебного центра по&nbsp;адресу
        <em><a href="http://learn.yoursway.com/iphone/">learn.yoursway.com/iphone/</a></em>.
      </p>
      
      <p>
        Для регистрации звоните Андрею Таранцову с&nbsp;10:00 до&nbsp;23:00
        по телефону +7&nbsp;906&nbsp;193&nbsp;29&nbsp;59.
      </p>
      
      <p>
        Стоимость двухдневного семинара 6000 рублей с&nbsp;человека.
        Приведите друга и&nbsp;получите скидку 10%.
        Перепечатайте эту новость у&nbsp;себя в&nbsp;блоге и&nbsp;получите скидку 5%.
        Зарегистрируйтесь до&nbsp;25&nbsp;мая и&nbsp;получите скидку 5%.
        Скидки суммируются.
      </p>
      
      <p>
        Мы с&nbsp;удовольствием работаем с&nbsp;организациями и&nbsp;принимаем оплату безналичным расчетом,
        а&nbsp;также делаем скидки при&nbsp;регистрации нескольких сотрудников. Звоните.
      </p>
      
      <p>
        При регистрации хотя бы одного сотрудника <em>менеджеры могут бесплатно посетить
        первый час семинара</em>&nbsp;— введение в&nbsp;возможности и&nbsp;особенности платформы.
      </p>
    </div>
    
  </div>
</div>
{% endblock %}
